.nav-color{
    background-color: #ba062a;
    
}

.font-website{
    font-family: 'Martian Mono', monospace;
}


.section-one{
    margin-top: 500px;

}
.text-styles{
    text-decoration: none;
}
.font-nav{
font-family: 'Dancing Script', cursive;
font-family: 'Martian Mono', monospace;
}